<div class="container">
  <div class="d-flex flex-column my-3 panel">
    <form [formGroup]="formPanel">
      <div class="input-group mb-3 align-items-center">
        <label for="paginas" class="me-3">Número de páginas</label>
        <button class="btn boton rounded" type="button" (click)="increasePage()">+</button>
        <input type="number" class="form-control" min="1" formControlName="pages">
        <button class="btn boton rounded" type="button" (click)="decreasePage()">-</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-info-circle mx-3 infobtn" viewBox="0 0 16 16" (click)="seePages(pagesModal)">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
      </div>
      <div class="input-group align-items-center">
        <label for="paginas" class="me-3">Número de idiomas</label>
        <button class="btn boton rounded" type="button" (click)="increaseLanguage()">+</button>
        <input type="number" class="form-control" min="1" formControlName="languages">
        <button class="btn boton rounded" type="button" (click)="decreaseLanguage()">-</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-info-circle mx-3 infobtn" viewBox="0 0 16 16" (click)="seeLanguages(languagesModal)">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
      </div>
    </form>
  </div>

  <ng-template #pagesModal>
    <div class="modalBtn">
      <span>Este componente debe indicar el número de páginas que tendrá su sitio web.</span>
    </div>
  </ng-template>

  <ng-template #languagesModal>
    <div class="modalBtn">
      <span>Este componente debe indicar el número de idiomas que tendrá su sitio web.</span>
    </div>
  </ng-template>